<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-icon name="close-outline" (click)="cerrar()"></ion-icon>
      <ion-title class="ion-text-center">Solicitud aceptada</ion-title>
    </ion-row>
  </ion-toolbar>
</ion-header>
  
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{solicitud.solicitud.categ}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Telefono de contacto: {{solicitud.solicitud.telefono_contacto}}<br>
      Correo del contacto:  {{solicitud.solicitud.correo_contacto}}<br>
      Dirección del contacto:  {{solicitud.solicitud.direccion_contacto}}<br>
      Requerimiento:{{solicitud.solicitud.equipo}}<br>
      Numero de ocupantes: {{solicitud.solicitud.num_usuarios}}<br>
      Fecha del servicio: {{solicitud.solicitud.fecha_servicio}}<br>
      Comentarios: {{solicitud.solicitud.nota}}<br>
    </ion-card-content>
  </ion-card>

  <form (ngSubmit)="logForm()">
    <ion-item>
      <ion-label>¿Se realizo la cotización?</ion-label>
      <ion-select interface="action-sheet" class="custom-options" [(ngModel)]="aceptarJSON.respuesta"
        [ngModelOptions]="{standalone: true}" (ionChange)="guardarLocal()">
        <ion-select-option value="Si">Si</ion-select-option>
        <ion-select-option value="No">No</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="aceptarJSON.respuesta == 'Si'">
      <ion-label>Folio de cotización</ion-label>
      <ion-input type="number" name="folio" [(ngModel)]="aceptarJSON.folio"></ion-input>
    </ion-item>

    <ion-item *ngIf="aceptarJSON.respuesta == 'No'">
      <ion-label>¿Por que?</ion-label>
      <ion-select interface="action-sheet" class="custom-options" [(ngModel)]="aceptarJSON.motivo"
        [ngModelOptions]="{standalone: true}">
        <ion-select-option value="No podemos dar el servicio">No podemos dar el servicio</ion-select-option>
        <ion-select-option value="No contesto el cliente">No contesto el cliente</ion-select-option>
        <ion-select-option value="Datos de contacto incorrectos">Datos de contacto incorrectos</ion-select-option>
      </ion-select>
    </ion-item>
    <section class="ion-margin">
      <ion-button *ngIf="aceptarJSON.folio != null || aceptarJSON.motivo != null" type="submit" color="primary" expand="block">Enviar
      </ion-button>
    </section>
  </form>
</ion-content>