<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">Solicitudes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let i of solicitudes">
    <ion-card-header>
      <ion-card-title>{{i.solicitud.categ}}</ion-card-title>
      <ion-card-subtitle>{{i.solicitud.equipo}}</ion-card-subtitle>
      <p>Estado: {{mapa.get(i.solicitud.id)}}</p>
    </ion-card-header>
    <ion-card-content>
      <section *ngIf="mapa.get(i.solicitud.id) == '' || mapa.get(i.solicitud.id) == 'Sin respuesta'">
        <h3 class="ion-text-justify">¿Aceptar Solicitud? </h3>
        <ion-button color="success" (click)="aceptarSolicitud(i)">
          Aceptar
        </ion-button>
        <ion-button color="danger" (click)="rechazarSolicitud(i)">
          Rechazar
        </ion-button>
      </section>
      <section *ngIf="mapa.get(i.solicitud.id) == 'Aceptada' || mapa.get(i.solicitud.id) == 'Rechazada'">
        <ion-button color="success"(click)="pendienteSolicitud(i)" expand="block">
          Continuar
        </ion-button>
      </section>       
    </ion-card-content>
  </ion-card>
</ion-content>
