<ion-content>
  <ion-button (click)="refrescar()" expand="full">Recargar</ion-button>

  <ion-card *ngFor="let i of solicitudes">
    <ion-card-header>
      <ion-card-title>{{i.solicitud.categ}}</ion-card-title>
      <ion-card-subtitle>{{i.solicitud.equipo}}</ion-card-subtitle>
      <p>Estado: {{mapa.get(i.solicitud.id)}}</p>
    </ion-card-header>
    <ion-card-content>
        <!-- <section *ngIf="mapa.get(i.solicitud.id) == 'Sin respuesta' || '' || null">  -->
      <section *ngIf="mapa.get(i.solicitud.respuesta) == null ">
        <h3 class="ion-text-justify">¿Aceptar Solicitud? </h3>
        <ion-button color="success" (click)="aceptarSolicitud(i)">
          Aceptar
        </ion-button>
        <ion-button color="danger" (click)="rechazarSolicitud(i)">
          Rechazar
        </ion-button>
      </section>
    </ion-card-content>
  </ion-card>
</ion-content>
